// start colors


$primary_color : #333;
$white : #FFF;
$navy : #2DC3E8;
$font_color : #737373;
$light__gray : #CCC;


 //End colors


// start nav
$nav__fontsize : 1.6em;
$nav__fontfamily : 'Roboto Condensed', sans-serif;

// start info

